* {
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  color: #333;
  width: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  color: #3498db;
  text-decoration: none;
}
